html {
    font-family: Arial;
    font-size: 16px;
}

.inputContainer {
    background-color: beige;
}

button {
    background-color: #76b076;
}

.mtn, .nineMobile, .globacom, .airtel {
    /* display: none; */
    margin: 20px;
    width: 40px;
    align-items: center;
}
